//style 1

<style>
body {
    line-height: 115%;
    font-family: Calibri;
    font-size: 11pt;
    margin: 20pt;
    /* Atur ukuran margin sesuai kebutuhan Anda */
    padding: 0;
    box-sizing: border-box;
}



p {
    margin: 0pt 0pt 10pt
}

li,
table {
    margin-top: 0pt;
    margin-bottom: 10pt;
    max-width: 100%;
}

.ListParagraph {
    margin-left: 36pt;
    margin-bottom: 10pt;
    line-height: 115%;
    font-size: 11pt
}
</style>

//style 2

<style>
  body {
      line-height: 115%;
      font-family: Calibri;
      font-size: 11pt;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  table {
      width: 100%;
      border: 1px solid #000000;
      border-collapse: collapse;
      margin-top: 0pt;
      margin-bottom: 10pt;
      max-width: 100%;
  }

  th,
  td {
      border: 1px solid #000000;
      padding: 5.03px;
      text-align: center;
  }

  th {
      font-family: 'Arial Narrow';
      font-weight: bold;
  }

  p {
      margin: 0;
  }

  .ListParagraph {
      margin-left: 36pt;
      margin-bottom: 10pt;
      line-height: 115%;
      font-size: 11pt;
  }
</style>